<div class="container-fluid">
    <h3>Trang quản lý sản phẩm</h3>
    <button class="btn btn-primary" (click)="addProduct()">Thêm mới sản phẩm</button><br>
    <div class="search-box" style="margin-top: 10px;">
        <input type="text" class="form-control search-input" placeholder="Tìm kiếm"
            [(ngModel)]="keyword">        <p style="margin-left: 6px;"></p>
        <input style="margin-left: 6px; " type="button" class="btn btn-primary ml-2" (click)="searchProducts()" value="Tìm kiếm">
    </div><br><br>
    <table class="table table-hover" >
        <thead class="thead-dark">
            <tr>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Hình ảnh</th>
                <th>Tác giả</th>
                <th>Đã bán</th>
                <th>Đơn vị còn trong kho</th>
                <th>Giá</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody *ngFor="let product of products">
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td><img src="{{product.url}}" alt="" height="300px" width="260px"></td>
                <td>{{product.author}}</td>
                <td>{{product.sold}}</td>
                <td>{{product.units_in_stock}}</td>
                <td>{{product.price}}</td>
                <td>
                    <div style="display: inline-block;">
                        <button class="btn btn-primary"  (click)="viewDetail(product)">Xem chi
                            tiết</button>
                        <button class="btn btn-danger" (click)="deleteProduct(product.id)">Xóa</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation" style="margin-top: 80px;">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" (click)="onPageChange(0)">Đầu</a>
                </li>
                <li class="page-item" >
                    <a class="page-link" (click)="onPageChange(currentPage -1)">Trước</a>
                </li>
                <li class="page-item" >
                    <a class="page-link" (click)="onPageChange(currentPage+1)">Tiếp</a>
                </li>
                <li class="page-item" >
                    <a class="page-link" (click)="onPageChange(totalPages - 1)">Cuối</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
