<footer>
    <style>
        
    </style>
    <div class="footer" style="margin-top: 220px;">
        <div class="container">
            <div class="row product-description">
                <div class="col-md-6">
                    <p style="color: aliceblue; font-size: 12px;">&copy; 2024 AbcXyz Company. All rights reserved.</p>
                </div>
                <div class="col-md-6">
                    <p style="color: aliceblue;" class="text-end">Privacy Policy</p>
                </div>
            </div>
        </div>
    </div>
</footer> 
