<div class="container-fluid">
    <h1>Chi tiết đơn hàng</h1>
    <form action="">
        <div class="row form-group">
            <div class="col-md-6">
                <h3>Thông tin đơn hàng</h3>
                <p><strong>Mã đơn hàng:</strong>{{orderResponse.id}}</p>
                <p><strong>Mã người dùng:</strong>{{orderResponse.user_id}}</p>
                <p><strong>Họ và tên:</strong>{{orderResponse.fullname}}</p>
                <p><strong>Số điện thoại:</strong>{{orderResponse.phone_number}}</p>
                <p><strong>Email:</strong>{{orderResponse.email}}</p>
                <p><strong>Địa chỉ:</strong>{{orderResponse.address}}</p>
                <p><strong>Ghi chú:</strong>{{orderResponse.note}}</p>
                <p><strong>Ngày đặt hàng:</strong>{{orderResponse.order_date | date}}</p>
    
                <div class="form-group">
                    <label for="statusSelect"><strong>Status:</strong></label>
                    <select id="statusSelect" class="form-control" [(ngModel)]="orderResponse.status">
                        <option value="pending">pending</option>
                        <option value="processing">processing</option>
                        <option value="shipped">shipped</option>
                        <option value="delivered">delivered</option>
                        <option value="cancelled">cancelled</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
    <h3></h3>
    <table class="table">
        <thead>
            <tr>
                <th>Sản phẩm</th>
                <th>Giá tiền</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order_detail of orderResponse.order_details; let i = index">
                <td>{{order_detail.product.name}}</td>
                <td>{{order_detail.product.price}}</td>
                <td>{{order_detail.number_of_products}}</td>
                <td>{{ (order_detail.number_of_products * order_detail.product.price) | number:'1.0-0'  }}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary col-md-2" style="color: blue;" (click)="saveOrder()">Lưu</button>
</div>