<div class="container-fluid bg-light">
    <div class="row form-control" >
        <div class="col-md-6" style="margin: 20px;">
                <h1 class="mt-4 mb-4">Chi tiết sản phẩm</h1>
                <div class="card-body">
                    <h3 class="card-title">Thông tin sản phẩm</h3>
                    <div class="form-group">
                        <label for="category">Mã danh mục:</label>
                        <p class="form-control-static">{{productResponse.category_id}}</p>
                    </div>
                    <div class="form-group">
                        <label for="productId">Mã sản phẩm:</label>
                        <p class="form-control-static">{{productResponse.id}}</p>
                    </div>
                    <div class="form-group">
                        <label for="productName">Tên sản phẩm:</label>
                        <input type="text" class="form-control" id="name" [(ngModel)]="productResponse.name">
                    </div>
                    <div class="form-group">
                        <label for="author">Tác giả:</label>
                        <input type="text" class="form-control" id="author" [(ngModel)]="productResponse.author">
                    </div>
                    <div class="form-group">
                        <label for="units_in_stock">Số lượng còn trong kho:</label>
                        <input type="text" class="form-control" id="units_in_stock" [(ngModel)]="productResponse.units_in_stock">
                    </div>
                    <div class="form-group">
                        <label for="imageUrl">Hình ảnh:</label>
                        <img src="{{productResponse.url}}" alt="" class="img-fluid" width="600px" height="450px">
                    </div>
                    <div class="form-group">
                        <label for="imgInput">Chọn ảnh</label>
                        <input type="file" class="form-control-file" id="imgInput">
                      </div>
                    <div class="form-group">
                        <label for="price">Giá:</label>
                        <input type="text" class="form-control" id="price" [(ngModel)]="productResponse.price">
                    </div>
                    <div class="form-group">
                        <label for="description">Mô tả:</label>
                        <textarea rows="7" class="form-control" id="description" [(ngModel)]="productResponse.description"></textarea>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <button class="btn btn-primary" (click)="saveOrder()" style="width: 200px; color: blue;">Lưu</button>
                    </div>
                </div>
        </div>
    </div>
</div>
