<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h2>Đặt hàng</h2>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-6">
            <h3 class="product-header">Thông tin người nhận</h3>
            <form action="">
                <div class="mb-3">
                    <label for="name" class="form-label">Họ tên</label>
                    <input type="text" class="form-control" id="fullname" [(ngModel)]="orderData.fullname">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Mail</label>
                    <input type="email" class="form-control" id="email" [(ngModel)]="orderData.email">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Số điện thoại</label>
                    <input type="text" class="form-control" id="phone" [(ngModel)]="orderData.phone_number">
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Địa chỉ</label>
                    <input type="text" class="form-control" id="address" [(ngModel)]="orderData.address">
                </div>
                <div class="mb-3">
                    <label for="note" class="form-label">Ghi chú</label>
                    <input type="text" class="form-control" id="note" [(ngModel)]="orderData.note">
                </div>
                <div class="form-group">
                    <label for="shippingMethod" class="form-label">Phương thức vận chuyển</label>
                    <select class="form-control" id="shippingMethod" [(ngModel)]="orderData.shipping_method">
                        <option value="express">Giao hàng nhanh(Express)</option>
                        <option value="normal">Giao thường(Normal)</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="paymentMethod" class="form-label">Phương thức thanh toán</label>
                    <select class="form-control" id="paymentMethod" [(ngModel)]="orderData.payment_method">
                        <option value="cod">Thanh toán khi nhận hàng(COD)</option>
                        <option value="other">Khác...</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h3 class="product-header">Sản phẩm đã chọn</h3>
            <table>
                <thead>
                    <tr>
                        <th scope="col" class="text-start">Sản phẩm</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Đơn giá</th>
                        <th scope="col">Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <ng-container *ngFor="let item of cartItems">
                        <tr>
                            <td>
                                <div class="product-info">
                                    <img [src]="item.product.url"
                                        alt="" width="150px">
                                    <span style="margin-left: 8px;" class="product-name">{{ item.product.name }}</span>
                                </div>
                            </td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.product.price | number:'1.2-2' }}</td>
                            <td>{{ (item.product.price*item.quantity) | number: '1.2-2' }}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <table>
                <div class="text-start mt-3">
                    <h4 class="header-text text-end">Tổng giá: {{ totalAmount | number:'1.2-2' }} đ</h4>
                </div>
            </table>
            <div class="text-start mt-3">
                <button (click)="placeOrder()" class="btn btn-primary" type="button">Đặt hàng</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>