.container {
    color: white;
}

.intro-section {
    color: aliceblue;
    text-align: center;
}
.product-header {
    color: aliceblue;
}
.form-label {
    color: beige;
}
table {
    width: 100%;
    border-radius: 10px;
    border-collapse: separate;
    border: 1px solid white;
}
th,
td {
    text-align: center;
    color: beige;
    padding: 10px;
}