<div class="container-fluid">
    <header class="header bg-success text-white d-flex justify-content-between">
        <h1 class="header-title">
            Dashboard
        </h1>
        <button class="btn btn-danger btn-sm" (click)="logout()">Logout</button>
    </header>
    <div class="row">
        <nav id="sidebar" class="col-md-2 col-lg-2 d-md-block bg-light sidebar">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a (click)="showAdminComponent('orders')" class="nav-link">Quản lý đơn hàng</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a (click)="showAdminComponent('categories')" class="nav-link">Categories</a>
                    </li> -->
                    <li class="nav-item">
                        <a  (click)="showAdminComponent('products')" class="nav-link">Quản lý sản phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a  (click)="showAdminComponent('sold-products')" class="nav-link">Sản phẩm đã bán</a>
                    </li>
                    <li class="nav-item">
                        <a  (click)="showAdminComponent('users')" class="nav-link">Quản lý người dùng</a>
                    </li>
                </ul>
                <div class="mt-auto"><h4>Tổng doanh thu: {{totalRevenue | number:'1.0-0'}} VNĐ</h4></div>
            </div>
        </nav>
        <div class="col-md-10 col-lg-10 overflow-auto">
            <ng-container [ngSwitch]="adminComponent">
                <app-order-admin *ngSwitchCase="'orders'"></app-order-admin>
                <app-product-admin *ngSwitchCase="'products'"></app-product-admin>
                <app-sold-product-admin *ngSwitchCase="'sold-products'" ></app-sold-product-admin>
                <app-user-admin *ngSwitchCase="'users'"></app-user-admin>
            </ng-container>
        </div>
    </div>
</div>