<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="login-form mx-auto">
                <h3 class="login-header">Đăng nhập</h3>
                <div class="form-group">
                    <label for="email">Email/Điện thoại</label>
                    <input type="text" class="form-control" id="email">
                    <div class="divider-nonspace"></div>
                </div>
                <div class="mt-5"></div>
                <div class="form-group password-field">
                    <label for="password">Mật khẩu</label>
                    <input type="password" placeholder="Nhập ít nhất 3 ký tự" 
                    class="form-control" id="password">
                </div>
                <div class="form-group">
                    <div class="form-check checkbox-text">
                        <span style="display: flex;">
                            <input type="checkbox" class="form-check-input" id="remember">
                            <label for="remember" class="form-check-label text-start">Lưu đăng nhập</label>
                        </span>
                        <a href="#" style="color: white;" class="register-link">Quên mật khẩu</a>
                    </div>
                </div>
                <div class="form-group">
                    <select class="form-control access-right">
                        <option selected disabled>Quyền đăng nhập</option>
                        <option>Người dùng</option>
                        <option>Quản trị viên</option>
                    </select>
                </div>
                <button type="button" class="login-button btn btn-primary">Đăng nhập</button>
                <p class="text-center">Bạn chưa có tài khoản? <span><a href="#">Đăng ký</a></span></p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>