.intro-section {
    text-align: center;
    color: antiquewhite;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.form-control {
    background-color: rgb(24, 24, 51);
    color: aliceblue;
}

.product-category {
    width: 200px;
}

.search-input {
    width: 300px;
    background-color: rgb(24, 24, 51);
    color: aliceblue;

}

input::placeholder {
    color: aliceblue;
}

.product-item {
    background-color: rgb(19, 24, 41);
    border: 1px solid;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    width: 350px;
}

.product-image {
    height: 400px;
    width: 100%;
}

.product-name {
    color: aliceblue;
}

.product-description {
    color: aliceblue;
}

.product-price {
    color: aliceblue;
}

.product-action {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}