@import url('../../styles/shared-styles.scss');
.intro-section {
    text-align: center;
    color: antiquewhite;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.form-control {
    background-color: rgb(24, 24, 51);
    color: aliceblue;
}

.product-category {
    width: 200px;
}

.search-input {
    width: 300px;
    background-color: rgb(24, 24, 51);
    color: aliceblue;

}

input::placeholder {
    color: aliceblue;
}

.product-item {
    background-color: rgb(19, 24, 41);
    border: 1px solid;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    width: 350px;
}

.product-image {
    height: 400px;
    width: 100%;
}

.product-name {
    color: aliceblue;
}

.product-description {
    color: aliceblue;
}

.product-price {
    color: aliceblue;
}

.product-action {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
// .btn-primary {
//     background-color: $shopapp-color;
//     border-color: $shopapp-color;
// }

.ad-banner {
    background-image: url('https://as2.ftcdn.net/v2/jpg/04/03/15/39/1000_F_403153989_K6GwszyZXKOgXc0P9KpZwOZqSXTvl6aw.jpg'); /* Đường dẫn đến hình ảnh của banner */
    background-size: cover; /* Chỉnh kích thước hình ảnh để nó phù hợp với kích thước của phần tử */
    width: 100%;
    height: 300px; /* Độ cao của banner */
    /* Các thuộc tính khác tùy chỉnh vị trí, màu sắc, v.v. */
}
.banner-content {
    background-color: white;
}
