
<!-- HEADER -->
<app-header></app-header>
<div class="container">
    <!--  -->
    <div class="intro-section">
        <h2 style="color: aliceblue;">Danh sách các sản phẩm</h2>
    </div>
    <!--  -->
    <div class="search-box">
        <input type="text" class="form-control search-input" placeholder="Tìm kiếm"
            [(ngModel)]="keyword">        <p style="margin-left: 6px;"></p>
        <select class="form-control product-category" [(ngModel)]="selectedCategoryId">
            <option (value)="0">Tất cả</option>
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
        <input style="margin-left: 6px;" type="button" class="btn btn-primary ml-2" (click)="searchProducts()" value="Tìm kiếm">
    </div>
    <!--  -->
    <div class="row">
        <div class="col-lg-4 col-md-6" *ngFor="let product of products">
            <div class="product-item">
                <a [routerLink]="['/products', product.id]"><img [src]="product.url" alt="Product-img" class="product-image"></a>
                <h4 class="product-name">{{ product.name }}</h4>
                <p class="product-description">{{ product.description.slice(0, 95) }}...</p>
                <p class="product-price">Giá: {{product.price | number:'1.0-0'}}</p>
                <div class="product-action">
                    <button (click)="addToCart()" class="btn btn-primary">Thêm vào giỏ</button>
                    <p style="margin-right: 6px;"></p>
                    <button class="btn btn-success" (click)="buyNow()">Mua ngay</button>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation" style="margin-top: 100px;">
        <ul class="pagination">
            <li class="page-item">
                <a href="#" class="page-link" (click)="onPageChange(0)">Đầu</a>
            </li>
            <li class="page-item" >
                <a href="#" class="page-link" (click)="onPageChange(currentPage -1)">Trước</a>
            </li>
            <li class="page-item" >
                <a href="#" class="page-link" (click)="onPageChange(currentPage+1)">Tiếp</a>
            </li>
            <li class="page-item" >
                <a href="#" class="page-link" (click)="onPageChange(totalPages - 1)">Cuối</a>
            </li>
        </ul>
    </nav>
    <!-- *ngIf="currentPage > 1" -->
</div>
<!-- FOOTER -->
<app-footer></app-footer>