<div class="container-fluid">
    <h3>Danh sách người dùng</h3>
    <!-- <div class="search-box" style="margin-top: 10px;">
        <input type="text" class="form-control search-input" placeholder="Tìm kiếm"
            [(ngModel)]="keyword">        <p style="margin-left: 6px;"></p>
        <input style="margin-left: 6px; color: blue;" type="button" class="btn btn-primary ml-2" (click)="searchProducts()" value="Tìm kiếm">
    </div> -->
    <br><br>
    <table class="table table-hover" >
        <thead class="thead-dark">
            <tr>
                <th>Mã người dùng</th>
                <th>Tên người dùng</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Trạng thái</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody *ngFor="let user of users">
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.fullname}}</td>
                <td>{{user.phone_number}}</td>
                <td>{{user.address}}</td>
                <td>{{user.is_active}}</td>
                <td>
                    <div style="display: inline-block;">
                        <button class="btn btn-warning" >Hạn chế</button>
                    </div>
                    <!-- (click)="disable(user)" -->
                </td>
            </tr>
        </tbody>
    </table>
    <!-- <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation" style="margin-top: 80px;">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" (click)="onPageChange(0)">Đầu</a>
                </li>
                <li class="page-item" >
                    <a class="page-link" (click)="onPageChange(currentPage -1)">Trước</a>
                </li>
                <li class="page-item" >
                    <a class="page-link" (click)="onPageChange(currentPage+1)">Tiếp</a>
                </li>
                <li class="page-item" >
                    <a class="page-link" (click)="onPageChange(totalPages - 1)">Cuối</a>
                </li>
            </ul>
        </nav>
    </div> -->
</div>
