<div class="container-fluid">
    <h3>Các sản phẩm đã bán</h3>
    <br><br>
    <table class="table" >
        <thead class="thead-dark">
            <tr>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Hình ảnh</th>
                <th>Đã bán</th>
                <th>Đơn vị còn trong kho</th>
                <th>Giá</th>
                <!-- <th>Hành động</th> -->
            </tr>
        </thead>
        <tbody *ngFor="let product of products">
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td><img src="{{product.url}}" alt="" height="300px" width="260px"></td>
                <!-- <td><textarea rows="10" cols="60" id="description" [(ngModel)]="product.description" readonly></textarea></td> -->
                <td>{{product.sold}}</td>
                <td>{{product.units_in_stock}}</td>
                <td>{{product.price}}</td>
                <!-- <td>
                    <div style="display: inline-block;">
                        <button class="btn btn-primary" style="color: rgb(76, 76, 235);" (click)="viewDetail(product)">Xem chi
                            tiết</button>
                        <button class="btn btn-danger" style="color: red;" (click)="deleteProduct(product.id)">Xóa</button>
                    </div>
                </td> -->
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation" style="margin-top: 80px;">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" (click)="onPageChange(0)">Đầu</a>
                </li>
                <li class="page-item" >
                    <a class="page-link" (click)="onPageChange(currentPage -1)">Trước</a>
                </li>
                <li class="page-item" >
                    <a class="page-link" (click)="onPageChange(currentPage+1)">Tiếp</a>
                </li>
                <li class="page-item" >
                    <a class="page-link" (click)="onPageChange(totalPages - 1)">Cuối</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
